<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eau Claire's Salon</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
  </head>
  <body>
    <div class="container">
      @await Html.PartialAsync("Header")
      <div class="container-fluid">
        <div class="row flex-nowrap">
          @await Html.PartialAsync("LinkBar")
          @RenderBody()       
        </div>
      </div>
    </div>
  </body>
</html>