@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
<div class="col py-2 col-xl-10 px-sm-2 px-0" id="main-display">
  <h1>Delete Stylist</h1>
  <p>Are you sure you want to delete this stylist entry?</p>
  <hr/>

  <h3><strong>@Html.DisplayNameFor(model => model.Name)</strong>: @Html.DisplayFor(model => model.Name)</h3>
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete" />
  }
</div>