:root {
  --primary-color: #5b88bd;
  --secondary-color: #f4f4f8;
  --accent-color: #e1a07a;
  --text-color: #333;
}

body {
  background-image: url('616a401cfd5c4dd76c1a65987fd568c3_t.jpeg');
  background-size: cover;
  background-position: center;
  color: var(--text-color);
  font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
  font-weight: bold !important; /* Ensures all text in body is bold */
}

.header {
  background-color: var(--primary-color);
  color: #fff;
}

.navbar {
  background-color: var(--primary-color);
}

.navbar a {
  color: white;
}

a:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.footer {
  background-color: var(--primary-color);
  color: white;
}

button, a {
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover, a:hover {
  filter: brightness(120%);
}

@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
  }
}

.nav-item {
  margin-right: 20px; /* Adjust the value as needed */
}

.nav-link {
  padding: 0 15px; /* Adjust the horizontal padding as needed */
}

body {
  background-image: url('616a401cfd5c4dd76c1a65987fd568c3_t.jpeg');
  background-size: cover;
  background-position: center;
  color: #333;
  font-weight: bold;
}

/* If text legibility is an issue, consider adding a semi-transparent overlay or background to text sections */
.text-section {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  margin-top: 20px;
}

.hero-section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-text {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.move-up {
  margin-top: -149px;
}

.white-text {
  color: #000000 !important;
}