
body {
  background-color: #17e2b6;
  font-family: 'Arial', sans-serif;
}


.header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}


.navbar {
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}


a:hover {
  background-color: #c61010;
  color: black;
}


.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}