@{
  Layout = "_Layout";
}

<div class="col py-2 col-xl-10 px-sm-2 px-0" id="main-display">
  <h1>Home Page</h1>
  <p>Welcome Claire! Your personal busniess to managing all your stylists and their clients!</p>

   @if (User.Identity.IsAuthenticated)
  {
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" value="Log out" />
    }
  }
  else
  {
    <p>@Html.ActionLink("Register", "Register", "Accounts")</p>
    <p>@Html.ActionLink("Log in", "Login", "Accounts")</p>
  }
  
</div>
