@{
  Layout = "_Layout";
}

<div class="hero-section" style="background-image: url('../../wwwroot/css/cc98f3ddfe795765b201a034d36b49df.jpg');">
    <div class="hero-text">
        <h1>Welcome to Your Personal Hair Salon</h1>
        <p>Discover your new look with us today!</p>
        <a href="#services" class="btn btn-primary">Explore Services</a>
    </div>
</div>

<div class="col py-2 col-xl-10 px-sm-2 px-0 move-up" id="main-display">
   @if (User.Identity.IsAuthenticated)
  {
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" value="Log out" />
    }
  }
  else
  {
    <h1><p>@Html.ActionLink("Register", "Register", "Accounts")</p>
    <p>@Html.ActionLink("Log in", "Login", "Accounts")</p></h1>
  }
  
</div>
